altgraph==0.17.4
packaging==25.0
pillow==11.3.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
segno==1.6.6
setuptools==80.9.0
shiboken6==6.9.2
